.product-container{
  display: flex;
  flex-wrap: wrap;
}

.logo {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 48px;
  position: absolute;
  left: 160px;
  color: #fff;
  font-size: 20px;
}

